
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap');


:root{
    --bg-color: #015bea;
}


/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    font-family: 'Roboto', sans-serif;
} */


#mainBox {
    border: 1px solid red;

    /*
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    */


    max-width: 600px;
    height: 350px;

}

#mainBox img {
    width: 85%;
}

.leftCol {
    width: 50%;
    float: left;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rightCol {
    width: 50%;
    float: right;
    height: 100%;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 6vw;   /* adaptive */
    padding-right: 6vw;
    box-sizing: border-box;
}

/*  FLEX  */
/*

body {
    padding: 50px;
}
.parent {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    vh - viewHeight
    wh - viewWidth
    
}



.box{
    border: 1px solid black;
    width: 100px;
}

*/
/* RIGHT COLUMN */

.rightCol h1 {
    color: white;
    font-size: 28px;
}
/*
input[placeholder*="email"][name^="u"] {
    border-radius: 50%;
}
Attribute selectors - developer.mozilla org
*/

input[type="text"]{
   /*
    width: 100px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(15deg);


    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
*/

    height: 30px;
    border-radius: 20px;

}

/* CSS Pseudo element
u tekstovyh elementov netu before i after*/

input[type="text"]::placeholder {
    color: #015bea;     
}
/*PSEUDOI ELEMENTS + CLASSES*/
/* .parent::before {
    content: "before";
    border: 1px solid red;
} */

/* .parent::after {
    content: "after";
    border: 1px solid red;
}

.parent::first-letter {
    font-size: 48px;
    color: green;
}

.parent::first-line {
    background-color: yellow;
}

ul li:first-child {
    font-weight: bold;
}

ul li:last-child {
    color: blue;
}

ul li:nth-child(3) {
    text-decoration: underline;
}

a:link {  default view
    color: green;
    text-decoration:  none;
}

a:visited {
    color: red;

}

a:hover, .parent:hover {
    cursor: crosshair;
    text-decoration: underline;
}

a:active {
    font-size: 40px;
    color: #015bea;
} */